.menu {
    width:25%;
    height: 80%;
    background-color: bisque;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 4rem;
    justify-content: space-around;
    align-items: center;
    display: none;
    flex-direction: column;
}

.menu-mostrar {
    display: flex;
}

.menu div{
    width: 90%;
    height: 10%;
    background-color: gray;
}